mango-spring/src/main/resources/com/emo/mango/spring/config/mango-config-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.emodroid.com/mango/spring/schema/config"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="http://www.emodroid.com/mango/spring/schema/config">
	
	<xs:element name="config">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="datasource">
		<xs:complexType>
			<xs:attribute name="datasource" type="xs:string" />
			<xs:attribute name="id" use="required" type="xs:ID"/>
		</xs:complexType>
	</xs:element>
</xs:schema>